* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0;

}


.home-wrapper {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/images/car-tesla-x.png");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tesla-wrapper {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/images/tesla.jpg");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.tesla-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sport-wrapper {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/images/mustang.jpg");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.luxury-wrapper {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/images/lux.jpg");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.suv-wrapper {
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./assets/images/suv.jpg");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.home-bottom-buttons {
  margin: 1rem 0;
}

.home-bottom-buttons button {
  padding: 0 50px;
  width: 300px;
  margin: 0 20px;
  background-color: rgba(208, 209, 211, 1);
  border: none;
  border-radius: 5px;
  color: black;
}

#b-b{
  background-color: rgba(47, 47, 48, 1);
  color: #fff;
}

.home-bottom-p p {
  font-size: .7rem;
}
.home-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 2rem;

}

#see{
  font-size: inherit;
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .wrapper{
    width: 100vw;
    height: 100vh;
  }
  
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
  }
  
  .home-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .home-bottom-buttons {
    margin: 0 50%;
  }
  
  .home-bottom-buttons button {
    padding: 0 40px;
    width: 300px;
    margin: 10px 0;
    overflow: hidden;
    background-color: rgba(208, 209, 211, 1);
    border: none;
    border-radius: 5px;
    color: black;
  }
  
  #b-b{
    background-color: rgba(47, 47, 48, 1);
    color: #fff;
  }
  
  .home-bottom-p p {
    font-size: .5rem;
    width: 40ch;
    margin: 0 auto
  }
  .home-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 2rem;
  }
  
  #see{
    font-size: inherit;
    text-decoration: underline;
  }
  
  
}